<%= form_with(model: twilio, local: true) do |form| %>
  <% if twilio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twilio.errors.count, "error") %> prohibited this twilio from being saved:</h2>

      <ul>
      <% twilio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
