<section id="interventionss">
    <div class="container">
        <form id='create-shipment-form'>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="create-shipment-company-name" placeholder="Company Name">
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="create-shipment-order-id" placeholder="Order Id">
                </div>
                <div class="col-md-4">
                    <button class="form-control btn btn-success col-md-12" id="create-shipment-button">
                        CREATE SHIPMENT
                    </button>
                </div>
            </div>
        </form>
    </div class="container">

    <div class="container">
        <form id='shipment-form'>
            <div class="row">
                <div class="col-md-4">
                    <input type="number" class="form-control" id="shipment-id" placeholder="Search Shipment here">
                </div>
                <div class="col-md-8">
                    <button class="form-control btn btn-success col-md-12" id="shippment-id-button">
                        SEARCH SHIPMENT NOW
                    </button>
                </div>
            </div>
        </form>
    </div class="container">

    <div class="container" id="shipment-title-wrapper">
        <h1 id="shipment-title"></h1>
    </div>

    <div class="container" id="shipment-items">

    </div>
</section>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"></script>
