<script>
    function fillSelector(selector, data){
        var row = `<option value=""> <-- select a ${selector} --> </option>`;
        $(row).appendTo(`#${selector}_selector`)

        $.each(data, function(index, item) {
            row = "<option value=\"" + item.id + "\">" + item.id + "</option>";
            $(row).appendTo(`#${selector}_selector`)
        });
        $(`#${selector}-wrapper`).show()
    }

    function apiRequestAndFillForm(url, selector) {
        $.get(url, function(response){
            fillSelector(selector, response)
        })
    }

    function hideAndReset(model){
        $(`#${model}-wrapper`).nextAll('.selector-wrapper').hide()
        $(`#${model}-wrapper`).nextAll('.selector-wrapper').find('select').empty()
    }

    function updateFormData(url, selectorToFill){
        let model = url.split("/:")[1].split('_')[0]
        let requestUrl = url.split("/:")[0]
        let id = $(`#${model}_selector`).val()
        hideAndReset(model)
        apiRequestAndFillForm(`${requestUrl}/${id}`, selectorToFill)
    }

    function hideAll(){
        $('.selector-wrapper').hide()
        $('#customer-wrapper').show()
    }

    $(document).ready(function(){
        hideAll()

        $("#customer_selector").on("change", function() {
            updateFormData(`/buildings/customers/:customer_id`, 'building' )
        });

        $("#building_selector").on("change", function() {
            updateFormData('/batteries/building/:building_id', 'battery')
        });

        $("#battery_selector").on("change", function() {
            updateFormData('/columns/battery/:battery_id', 'column')
        });

        $("#column_selector").on("change", function() {
            updateFormData('/elevators/column/:column_id', 'elevator')
        });
    })
</script>


<section id="intervention">
    <div class="container" >
        <div class="heading-title text-center">
            <h2>Interventions</h2>
        </div>

        <div class="row-fluid text-center">
          <%= form_with( url: interventions_create_path() ) do |f| %>
            <div class="col-md-12">
              <div id="customer-wrapper" class="selector-wrapper">
                  <%= f.label :customer_id %>
                  <%= f.collection_select :customer_selector, Customer.all.order(:company_name), :id, :company_name, { prompt: 'Please select' } %>
              </div>

              <div id="building-wrapper" class="selector-wrapper">
                  <label for="building_id">Building</label>
                  <select name="building_id" id="building_selector"></select>
              </div>

              <div id="battery-wrapper" class="selector-wrapper">
                  <label for="battery_id">Batteries</label>
                  <select name="battery_id" id="battery_selector"></select>
              </div>

              <div id="column-wrapper" class="selector-wrapper">
                  <label for="column_id">Column</label>
                  <select name="column_id" id="column_selector"></select>
              </div>

              <div id="elevator-wrapper" class="selector-wrapper">
                  <label for="elevator_id">Elevators</label>
                  <select name="elevator_id" id="elevator_selector"></select>
              </div>

              <div class="actions">
                  <%= f.submit %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</section>