<div class="form-group control-group belongs_to_association_type user_field "
     id="employee_user_id_field">
     <label class="col-sm-2 control-label" for="employee_user_id">User</label>
     <div class="col-sm-10 controls">
     <select data-filteringselect="true" data-options="{&quot;xhr&quot;:true,&quot;remote_source&quot;:&quot;/admin/user?associated_collection=user\u0026compact=true\u0026current_action=create\u0026source_abstract_model=employee&quot;}" placeholder="Search" style="float: left; display: none;" name="employee[user_id]" id="employee_user_id"><option value="109" selected="selected">User #109</option></select><div class="input-group filtering-select col-sm-2" data-input-for="employee_user_id" style="float: left;"><input type="text" class="form-control ra-filtering-select-input ui-autocomplete-input" style="float: left; display: inline-block;" placeholder="Search" required="required" autocomplete="off"><span class="input-group-btn"><label class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Show All Items" role="button"><span class="caret"></span><span class="ui-button-text">&nbsp;</span></label></span></div>
<a data-link="/admin/user/new?modal=true" class="btn btn-info create" style="margin-left:10px" href="#"><i class="icon-plus icon-white"></i> Add a new User</a>
<a data-link="/admin/user/__ID__/edit?modal=true" class="btn btn-info update" style="margin-left:10px" href="#"><i class="icon-pencil icon-white"></i> Edit this User</a>
<span class="help-block">Required. </span></div></div>